html, button, input, select, textarea {
    font-family: 'Roboto', sans-serif;
}

body, html {
    padding: 0px;
    margin: 0px;
    background-color: #f2f2f2;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
}

.d3 .guides line {
    fill: none;
    stroke: rgba(180, 180, 180, 0.5);
    shape-rendering: crispEdges;
    stroke-width: 1px;
    stroke-dasharray: 5, 5
}

.d3 .axis path,
.d3 .axis line {
    display: none
}

.d3 .axis .tick text {
    font-size: 12px;
    fill: rgba(180, 180, 180, 0.8);
}

.d3 .area {
    fill: rgba(0, 188, 212, 0.1);
    stroke: rgba(0, 188, 212, 0.8);
    stroke-width: 2px;
}
